<h2>Most Recent Samples</h2>

<% @samples.each do |f| %>
  <div><strong><%= f.user.username %></strong></div>
  <a href="/samples/<%=f.id %>"><%=f.title %></a>
  <div><%= f.created_at.strftime("%Y-%m-%d")%></div>
  <div><%= link_to "Download", f.audio.url() %></div>
  <%= link_to like_sample_path(f), method: :put do %>
    Upvote
    <%= f.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_sample_path(f), method: :put do %>
    Downvote
    <%= f.get_downvotes.size %>
  <% end %>
  <hr>
<% end %>
