
<div class="sampleImage">
    <div id="recentTitle" class="col-m-2 col-md-offset-4">
      <h2>Most Recent Samples</h2>
    </div>

<div id="catWrap" class="row">
<% @samples.each do |f| %>
  <div class="catUser"><strong><%= f.user.username %></strong></div>
  <a id="catUser" class="btn btn-info btn-xs" href="/samples/<%=f.id %>"><%=f.title %></a>
  <div>
    <audio class="downloadAudio" controls controlsList="nodownload">
      <source src="<%=f.audio.url()%>">
    </audio>
  </div>
  <div id="catDownload" class="btn btn-info btn-xs"><%= link_to "Download", f.audio.url() %></div>
  <div class="catLike">
    <%= link_to like_sample_path(f), method: :put do %>
      <i class="glyphicon glyphicon-thumbs-up"></i>
    <%= f.get_upvotes.size %>
  <% end %>
    <%= link_to dislike_sample_path(f), method: :put do %>
      <i class="glyphicon glyphicon-thumbs-down"></i>
    <%= f.get_downvotes.size %>
  <% end %>
</div>
  <hr>
<% end %>
</div>

</div>
