<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sample.title %>
  <audio controls controlsList="nodownload">
    <source src="<%=@sample.audio.url()%>">
  </audio>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
