<h2>Effects</h2>

<% @samples.each do |f| %>
<div><strong><%= f.user.username %></strong></div>
 <%= f.title %>
 <audio controls controlsList="nodownload">
   <source src="<%=f.audio.url()%>">
 </audio>
 <div><%= link_to "Download", f.audio.url() %></div>
 <%= link_to like_sample_path(f), method: :put do %>
   Upvote
   <%= f.get_upvotes.size %>
 <% end %>

 <%= link_to dislike_sample_path(f), method: :put do %>
   Downvote
   <%= f.get_downvotes.size %>
 <% end %>
<% end %>
